body {
}
#centre{
    text-align:center;
}
#row{
    flex-direction:row;
}
#column{
    flex-direction:column;
}
#bold {
    text-shadow: inherit;
    font: italic bold 12px/30px Georgia, serif;
    font-size:20px;
}