body {
}
#container {
/*margin-left:2%;
margin-right:2%;
margin-bottom:2%;
margin-top:2%;*/
flex:1;
flex-direction:row;
}
#left {
    background-color: aliceblue;
float: left;
width:45%;
    height: 596px;
    display:inline;
}
#right {
    flex-direction:column;
}
#form {
    background-color: antiquewhite;
    border-style:inset;
    border-width: 2px;
    float:right;
    width:45%;
    display:inline;
    /*text-align:center;*/
}
#fb {
    text-align: center;
}
#fbbutton {
    margin-left:20%;
    margin-right:30%;
    background-color: #3b5998;
}
#login {
    float:right;text-align d
}

